<style>
  .view{
    border: 5px double white;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
    display: inline-block;
  }
</style>
<div class="container">
  <div class="container">
    <h1>Chicken Coop:</h1>
  </div>
  <div class="container">
    <div class="circle-container">
      <div class="circulardatadisplay view">
        <p>This is a test view for the Chicken Coop Controller</p>
        <p>data binding: {{digitaltestdata}}
           {{temperaturedata}}
        </p>
        <ul>
          <li>show environmental variables</li>
          <li>log feed & straw input</li>
          <li>log egg output</li>
          <li>log compost output</li>
        </ul>
      </div>
      <img ng-click="temperature()" class="deg0 btn btn-primary" ng-src="img/therm.png" alt="Temp">
      <img ng-click="digitaltest()" class="deg45 btn btn-primary" ng-src="img/sunOn.png" alt="Light">
      <img ng-click="digitaltest()" class="deg135 btn btn-primary" ng-src="img/rain.png" alt="Water">
      <img ng-click="digitaltest()" class="deg180 btn btn-primary" ng-src="img/wind.png" alt="Wind">
      <img ng-click="digitaltest()" class="deg225 btn btn-primary" ng-src="img/chicks.png" alt="Chicken Log">
      <img ng-click="digitaltest()" class="deg270 btn btn-primary" ng-src="img/ledger.png" alt="Ledger">
      <img ng-click="digitaltest()" class="deg315 btn btn-primary" ng-src="img/notes.png" alt="Notes">

    </div>
  </div>
</div>
